$font-1: "Lucida Sans";
$font-2: "cursive";

$size-1: 40px;
$size-2: 30px;
$size-3: 25px;
$size-4: 60px;
$size-5: 20px;
$size-6: 37px;
$size-7: 3px;
$size-8: 18px;
$size-9: 6px;
$size-10: 50px;
$size-11: 5px;
$size-12: 35px;



$color-1: rgba(245,33,33,0.75);
$color-2: #fcfcfc;
$color-3: #d7d7d7;
$color-4: #fdfdfd;
$color-5: #ffffff;
$color-6: rgba(52,132,28,0.91);
$color-7: #cfc5c2;
$color-8: #aea6a3;
$color-9: #a49c9a;
$color-10: #ded4d0;
$color-11: rgba(255 ,4 ,4 ,0.58);